.images{
    position: absolute;
    width:100%;
    float:left;
    
}
.center {
    position: fixed;
    padding-top: 90px;
    width: 100%;
    z-index: 1;
    display: none; 
 
  }
  .title{
    position:absolute;
    left:41%;
  }
 
.cen {
    background-color: #D8D8D8;
    margin: auto;
    border: 1.25px solid grey;
    padding: 18px;
    width: 88%;
    height:500px;
  }
  .cen>img{
    position:absolute;
    left:38%;
  }
  

  .closer {
    color: black;
    float: right;
    font-size: 21px;
   
  }
  
  .closer:hover{
    color: blue;
    cursor: pointer;
  }
  .img{
    margin: 10px;
    padding:10px;
  }
  .my{
    left:40%;
    position:absolute;
    top:10%;
  }
  .left{
    position:absolute;
    left:10%;
    top:50%;
  }
  .right{
    position:absolute;
    left:85%;
    top:50%;
  }
  