.images{
    position: absolute;
    width:100%;
    float:left;
}
.center {
    position: fixed;
    padding-top: 90px;
    width: 100%;
    z-index: 1;
    display: none; 
 
  }
.cen {
    background-color: lightgray;
    margin: auto;
    border: 1.25px solid grey;
    width: 88%;
    height:500px;
    padding: 19px;
  }
  

  .closer {
    color: black;
    float: right;
    font-size: 21px;
   
  }
  
  .closer:hover{
    color: blue;
    cursor: pointer;
  }